<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar clientes</title>
</head>
<body>
    <ul>
        {% for cliente in clientes %}
            <li>{{cliente}} <a href="{% url 'listar_agendamentos' cliente.id %}">Servicos</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'criar_cliente' %}">Criar cliente</a>
    <a href="{% url 'index' %}">Index</a>
</body>
</html>