<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TESI II</title>
</head>
<body>
    <ul>
        <li>
            <a href="{% url 'listar_barbearias' %}">Barbearias</a>
        </li>
        <li>
            <a href="{% url 'listar_clientes' %}">Clientes</a>
        </li>
        <li>
            <a href="{% url 'listar_barbeiros' %}">Barbeiros</a>
        </li>
    </ul>
</body>
</html>